asgiref==3.2.10
backcall==0.2.0
decorator==4.4.2
dj-database-url==0.5.0
dj-static==0.0.6
Django==3.1.1
django-heroku==0.3.1
django-widget-tweaks==1.4.8
gunicorn==20.0.4
ipython==7.19.0
ipython-genutils==0.2.0
jedi==0.17.2
model-mommy==2.0.0
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.8
psycopg2==2.8.6
ptyprocess==0.6.0
Pygments==2.7.2
python-decouple==3.3
pytz==2020.1
sqlparse==0.3.1
static3==0.7.0
traitlets==5.0.5
wcwidth==0.2.5
whitenoise==5.2.0
